/*PET INFO*/

.PetVideo{
    width: 233px;
    height: 441px;
    position: relative;
    margin-left: 5%;
    transform-origin: top left 0;
}
.PetVideo #firstPetSpan
{
    position: absolute;
    color: whitesmoke;
    left: 80px;
    top: 110px;
    width: 75%;
    background: -webkit-linear-gradient(  -70deg , #ff7170cf 0%, #ffe57fc2 100%);
    padding: 0.5rem; 
    z-index:0;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: #e0e0e040 0px 2px 8px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.PetVideo #firstPetSpan:after
{ 
    content: "\025b6";
    margin-left: 40px;
    padding-top: 8px;
    padding-left: 10px;
    position: absolute;
    width: 34px;
    top: 0px;
    height: 40px;
    right: 0px;
    background-color: #e0e0e0;
    color:#141414;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.PetVideo #firstPetSpan:hover{ left: 220px; }
.PetVideo > video
{
    position: absolute;
    left: 13px;
    top: -9px;
    border-radius: 20%;
    z-index: 1;
    pointer-events: none;
}
.PetVideo::before{
    content: '';
    width: 208px;
    height: 360px;
    position: absolute;
    left: 10px;
    top: 10px;
    background-repeat: no-repeat;
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
    background-size: contain;
    z-index: 3;
    border-radius: 30px;
    mix-blend-mode: hard-light;
    opacity: 0.4;
}
.PetVideo::after{
    content: '';
    background-image: url(../images/featured/cel2.png);
    width: inherit;
    height: inherit;
    position: absolute;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 4;
    pointer-events: none;
}
.Petinfo
{
    width: 50%;
    height: fit-content;
    margin-left: 35px;
    margin-top: 15px;
}
.Petinfo > h3{color: white;}
.Petinfo > p{
    color: #a8a8a8; 
}
.Petinfo > div
{
    color: #d5d5d5;
    margin-top: 90px;
    text-align: justify;
}
.Petinfo  span
{
    width: 100px;
    height: 35px;
    position: absolute;
    background-image: url(../images/featured/flutter.svg);
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-top: -5px;
}
/*lixenium*/

.LixVideo{
    width: 233px;
    height: 441px;
    position: relative;
    margin-left: 5%;
    transform-origin: top left 0;
}
.LixVideo #firstLixSpan
{
    position: absolute;
    color: whitesmoke;
    left: 245px;
    top: 110px;
    width: 75%;
    background: -webkit-linear-gradient(  -70deg , #ff7170cf 0%, #ffe57fc2 100%);
    padding: 0.5rem; 
    z-index:0;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: #e0e0e040 0px 2px 8px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.LixVideo #firstLixSpan:after
{ 
    content: "\025b6";
    margin-left: 40px;
    padding-top: 8px;
    padding-left: 10px;
    position: absolute;
    width: 34px;
    top: 0px;
    height: 40px;
    right: 0px;
    background-color: #e0e0e0;
    color:#141414;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.LixVideo #firstLixSpan:hover{ left: 385px; }
.LixVideo > video
{
    position: absolute;
    top: -12px;
    border-radius: 3.7rem;
    z-index: 1;
    pointer-events: none;
}
.LixVideo::before{
    content: '';
    width: 208px;
    height: 355px;
    position: absolute;
    left: 96px;
    top: -84px;
    background-repeat: no-repeat;
    background: linear-gradient(238deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
    background-size: contain;
    z-index: 3;
    border-radius: 20px;
    mix-blend-mode: color-burn;
    opacity: 0.5;
    transform: rotate( 270deg);
}
.LixVideo::after{
    content: '';
    background-image: url(../images/featured/cel2.png);
    width: inherit;
    height: inherit;
    position: absolute;
    left: 112px;
    top: -137px;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 4;
    pointer-events: none;
    transform: rotate( 270deg);
}
.Lixinfo
{
    width: 50%;
    height: fit-content;
    margin-left: 35px;
    margin-top: 15px;
}
.Lixinfo > h3
{
    color: white;
    margin-left: 160px;
}
.Lixinfo > div
{
    color: #d5d5d5;
    margin-top: 140px;
    position: relative;
    left: -243px;
    width: 100%;
    text-align: justify;
}
.Lixinfo > p{
    color: #a8a8a8; 
    margin-top: 10px;
    position: relative;
    margin-left: 160px;
}
.Lixinfo  span
{
    width: 70px;
    height: 30px;
    position: absolute;
    background-image: url(../images/featured/unity.svg);
    background-repeat: no-repeat;
    margin-left: 17px;
    margin-top: 0px;
    background-size: contain;
    filter: invert(1);
}
/*Pet*/
@media(max-width:628px)
{
    .Petinfo{ margin-top: -50px; }
    .Petinfo > div
    {
        margin-top: 0;
        margin-bottom: 50px;
    }
    .PetVideo #firstPetSpan
    {
        left: 83px;
    }
    .PetVideo #firstPetSpan:hover{left: 220px;}
}
@media(max-width:445px)
{
    .Petinfo > div { margin-top: 70px; }
    .PetVideo #firstPetSpan::after{content: none;}
    .PetVideo #firstPetSpan
    {
        left: 15px;
        top: 463px;
        border-radius: 15px;
        padding: 0.1rem;
        text-align: center;
    }
    .PetVideo #firstPetSpan:hover{left: 15px;}
}
/*Lix*/
@media(max-width:670px)
{
    
    .Lixinfo{ display: contents; }
    .Lixinfo > h3
    {
        position: absolute;
        margin-top: 200px;
        left: -100px;
    }
    .Lixinfo > p
    {
        position: absolute;
        margin-top: 205px;
        margin-left: 220px;
    }
    .Lixinfo > div
    {
        margin-top: -130px;
        position: relative;
        margin-left: 45px;
        margin-right: 145px;
        left: 0;
    }
    .LixVideo #firstLixSpan{
        position: absolute;
        color: whitesmoke;
        left: 0;
        top: 110px;
        width: 155%;
        padding: 0.1rem;
        z-index: 0;
        cursor: context-menu;
        transition: 0.5s;
        box-shadow: #e0e0e040 0px 2px 8px;
        border-radius: 10px;
        margin-top: 140px;
        margin-left: 22px;
        text-align: center;
    }
    .LixVideo #firstLixSpan::after{content: none;}
    .LixVideo #firstLixSpan:hover{ left: 0; }
}
@media(max-width:500px)
{
    .LixVideo
    {
        width: 160px;
        margin-left: 50px;
    }
    .LixVideo::before
    {
        content: '';
        width: 148px;
        height: 263px;
        position: absolute;
        left: 36px;
        top: -45px;
        background-repeat: no-repeat;
        background: linear-gradient(238deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
        background-size: contain;
        z-index: 3;
        border-radius: 20px;
        mix-blend-mode: color-burn;
        opacity: 0.5;
        transform: rotate( 270deg);
    }
    .LixVideo::after{
        content: '';
        width: 247px;
        height: 318px;
        left: 7px;
        top: -117px;
    }
    .LixVideo > video
    {
        position: absolute;
        top: -16px;
        border-radius: 3.7rem;
        left: -19px;
        z-index: 1;
        pointer-events: none;
        width: 257px;
    }
    .LixVideo #firstLixSpan
    {
        margin-left: 0;
        left: -20px;
        width: 160%;
    }
    .LixVideo #firstLixSpan:hover{ left: -20px; }
    .Lixinfo > h3 
    {
        margin-left: 38px;
        left: 0;
    }
    .Lixinfo > div
    {
        margin-left: 31px;
        margin-right: 60px;
    }
    .Lixinfo > p
    {
        margin-left: 200px;
        margin-top: 198px;
    }
    .Lixinfo span{
        margin-left: -81px;
        margin-top: 22px;
    }
}