@font-face {
    font-family: "Elegancy";
    src: url("../fonts/Amperzand.ttf");
}

.toolTip .tooltiptext {
    visibility: hidden;
    width: 120px;
    height: 30px;
    background-color: #00000094;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
    font-size: 1rem;
    font-weight: normal;
}
.toolTip:hover .tooltiptext {
    visibility: visible;
}
.pianoico{
    background-image: url('../images/piano.svg');
}
.quantumico{
    background-image: url('../images/quantumchip.svg');
    margin-top: 2px;
}
.icons{
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    
    margin-left: 5px;
}
.description, .description h4{   
    font-size: calc(12px + 6 * ((100vw - 320px) / 680)) !important;
}
@media(max-width:870px){
    .description, .description h4{   
        font-size: 1rem !important;
    }
}
@media(max-width:840px){
    .description, .description h4{   
        font-size: calc(10px + 6 * ((100vw - 320px) / 680)) !important;
    }
    .about .row .description a, #ic{
        width: calc(15px + 6 * ((100vw - 320px) / 680)) !important;
        height: calc(15px + 6 * ((100vw - 320px) / 680)) !important;
    }
}
.aboutcontent p{
    margin-bottom: 0 !important;
}
.Info{
    position: relative;
    padding-left: 8px;
    font-family: none;
    float: right;
    color: white;
    background-color: #1a1a1a;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.Info .Infotext{
    visibility: hidden;
    width: 16rem;
    background-color: #00000094;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    top: 23px;
    right: -55%;
    font-size: 0.8rem;
    font-weight: normal;
} 
.Info:hover .Infotext {
    visibility: visible;
}