---
import './styles/Atom.style.scss';
---
<div id="atom" class="absolute">
    <div id="nucleus" class=" bg-black dark:bg-white"/>
    <div class="orbit">
        <div class="electron bg-black dark:bg-white"/>
    </div>
    <div class="orbit">
        <div class="electron bg-black dark:bg-white"/>
    </div>
    <div class="orbit">
        <div class="electron bg-black dark:bg-white"/>
    </div>
</div>