
  <div>
    <p class="mb-8 items-center justify-center lg:justify-start" >
      A <strong>software engineer</strong> with a focus on crafting beautiful,
      user-friendly interfaces <strong>(UI/UX)</strong> My expertise extends
      to <strong>design patterns</strong> and writing{" "}
      <strong>clean code</strong> for robust, <strong>SEO-friendly</strong>{" "}
      architectures. Let's take your vision to the next level and create
      something truly exceptional.
    </p>
  </div>
