$offset: 7px;

.catlive {
    transform-origin: bottom;
    animation: live-anim 7s ease-in-out infinite forwards;
}

.catdead {
    transform-origin: top;
    animation: dead-anim 7s ease-in-out infinite forwards;
}

@keyframes dead-anim{
    0%{
        transform: rotate(0deg) translateY($offset);
    }
    50%{
        transform: rotate(-150deg) translateY(-$offset);
    }
    100%{
        transform: rotate(0deg) translateY($offset);
    }
}
@keyframes live-anim{
    0%{
        transform: rotate(0deg) translateY(-$offset);
    }
    50%{
        transform: rotate(-150deg) translateY($offset);
    }
    100%{
        transform: rotate(0deg) translateY(-$offset);
    }
}